/* CSS Reset - Following KISS principle */
/* Single Responsibility: Only reset styles */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
  text-align: center;
  background: var(--color-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  align-items: stretch;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--color-black);
  font-family: var(--font-family-base);
  color: var(--color-white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

